<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challange 5</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/b9333d3049.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="Tampilan">

        <div class="left-body">

            <div class="side-item">
                <div class="box-home">
                </div>
            </div>

            <div class="side-item">
                <i class="fas fa-home"></i>
                <p>Dashboard</p>
            </div>

            <div class="side-item">
                <i class="fa-solid fa-truck-pickup"></i>
                <p>Cars</p>
            </div>

            <!-- <div class="side-item">
            </div> -->

        </div>

        <div class="right-body">

            <div class="navbar">
                <div class="nav-left">
                    <div class="box-logo"></div>
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </div>

                <div class="nav-right">
                    <input type="search" placeholder="Search" results="0">
                    <button type="button">Search</button>
                    <div class="user-icon"><p>u</p></div>
                    <p class="username">lorem ipsum</p>
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>

            <div class="body-main">
                <div class="row-body-left">
                    <p>CARS</p>
                    <p>List Cars</p>
                </div>

                <div class="row-body-right">

                    <div class="row-body1">
                        <p class="bold">Car</p>
                        <i class="fa fa-angle-right bold"></i>
                        <p>List Car</p>
                    </div>

                    <div class="row-body2">
                        <p class="bold">List Car</p>
                        <a href="addcar.html"><button  type="button" class="bold">+ Add New Car</button></a>
                    </div>

                    <div class="row-body3">
                        <button id="All">All</button>
                        <button id="Small">Small</button>
                        <button id="Medium">Medium</button>
                        <button id="Large">Large</button>
                    </div>

                    <div class="row-body4">
                        <div class="car">
                            <div class="car-align">
                                <img src="images/car01.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car02.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car03.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car04.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car05.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car06.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car07.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car08.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car09.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car10.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car11.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car12.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>
                        
                        <div class="car">
                            <div class="car-align">
                                <img src="images/car13.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>
                        
                        <div class="car">
                            <div class="car-align">
                                <img src="images/car14.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car15.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car16.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car17.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car18.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car19.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car20.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car21.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car22.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car23.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                        <div class="car">
                            <div class="car-align">
                                <img src="images/car24.min.jpg" alt="">
                            </div>
                            <p>Nama Mobil / Type Mobil</p>
                            <p class="bold">Rp. 450.000</p>
                            <p class="thin"><i class="fa fa-clock"></i>  updated at</p>
                            <p></p>
                            <div class="car-button">
                                <button class="delete-button"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                <a href="CarUpdate.html"><button class="edit-button"><i class="fa fa-pen"></i> Edit</button></a>
                            </div>
                            <p></p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>